html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  position: relative;
}